*{
   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    overflow-x: hidden;
}
#append{
    display: grid;
   overflow: scroll;
   overflow-x: hidden;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
}

#nevbar{
    display: flex;
    width: 100%;
    height: 45px;
    padding: 5px;
    position: sticky;
    top: 0;
    /* border: 1px solid red; */
    justify-content: space-between;
}
#leftNavBar{
    display: flex;
    width: 15%;
    height: 100%;
    /* border: 1px solid blueviolet; */
    justify-content: space-evenly;
}
#leftNavBar-logo{
    display: flex;
    margin-left: 20px;
    /* border: 1px solid blue; */

    
}
#leftNavBar-hambarger{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  
}

#rightNavBar{
    display: flex;
    width: 20%;
    /* border: 1px solid green;    */
    justify-content: space-around;
}
#midNavBar{
    display: flex;
    width: 45%;
    /* border: 1px solid black; */
    /* padding: 20px; */
    
}

#midNavBar>input{
    width: 80%;
    border: 0.5px solid black;
    outline: none;
}
#midNavBar>button{
    width: 10%;
    
    font-size: 22px;
  
}
#midNavBar>div{

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    margin-left: 30px;
    
}

.rightNavbar-div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  
 
}

#bottam-div{
    display:flex;
    width: 100%;
    /* border: 1px solid red; */
    height: 543px;
}

#bottam-div-hambarger{
    display: flex;
 
    flex-direction: column;
    position: sticky;
    top: 0;
    height: 60%;
}

#bottam-div-hambarger>div{
display: flex;

flex-direction: column;
justify-content: center;
    align-items: center;
    font-size: 22px;
    padding: 5px;
}

p{
    font-size: 12px;
}

